<%= form_for coupon, as: 'coupon', url: url, builder: Coupons::FormBuilder, html: {class: 'form'} do |form| %>
  <%= render 'form_errors', record: coupon %>

  <div class="form-group">
    <div class="form-label">
      <%= form.label :code %>
      <%= form.hint :code %>
    </div>

    <div class="form-control">
      <%= form.text_field :code, autofocus: true %>
      <%= form.error_for :code %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-label">
      <%= form.label :description %>
      <%= form.hint :description, 'foo' %>
    </div>

    <div class="form-control">
      <%= form.text_field :description %>
      <%= form.error_for :description %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-label">
      <%= form.label :redemption_limit_global %>
      <%= form.hint :redemption_limit_global %>
    </div>

    <div class="form-control">
      <%= form.number_field :redemption_limit_global, min: 0 %>
      <%= form.error_for :redemption_limit_global %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-label">
      <%= form.label :redemption_limit_user %>
      <%= form.hint :redemption_limit_user %>
    </div>

    <div class="form-control">
      <%= form.number_field :redemption_limit_user, min: 0 %>
      <%= form.error_for :redemption_limit_user %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-label">
      <%= form.label :type %>
      <%= form.hint :type %>
    </div>

    <div class="form-control">
      <%= form.select :type, Coupons::CouponType.to_select, include_blank: true %>
      <%= form.error_for :type %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-label">
      <%= form.label :amount %>
      <%= form.hint :amount %>
    </div>

    <div class="form-control">
      <%= form.text_field :amount %>
      <%= form.error_for :amount %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-label">
      <%= form.label :valid_from_date %>
      <%= form.hint :valid_from_date %>
    </div>

    <div class="form-control">
      <%= form.date_select :valid_from_date, include_blank: true, start_year: Date.current.year, end_year: Date.current.year + 10 %>
      <%= form.error_for :valid_from_date %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-label">
      <%= form.label :valid_until_date %>
      <%= form.hint :valid_until_date %>
    </div>

    <div class="form-control">
      <%= form.date_select :valid_until_date, include_blank: true,
        start_year: Date.current.year, end_year: Date.current.year + 10 %>
      <%= form.error_for :valid_until_date %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-label">
      <%= form.label :valid_from_time %>
      <%= form.hint :valid_from_time %>
    </div>

    <div class="form-control">
      <%= form.time_select :valid_from_time, include_blank: true %>
      <%= form.error_for :valid_from_time %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-label">
      <%= form.label :valid_until_time %>
      <%= form.hint :valid_until_time %>
    </div>

    <div class="form-control">
      <%= form.time_select :valid_until_time, include_blank: true %>
      <%= form.error_for :valid_until_time %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-label">
      <%= form.label :recurrence_type %>
      <%= form.hint :recurrence_type %>
    </div>

    <div class="form-control">
      <%= form.select :recurrence_type, Coupons::RecurrenceType.to_select, include_blank: true %>
      <%= form.error_for :recurrence_type %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-label">
      <%= form.label :recurrence %>
      <%= form.hint :recurrence %>
    </div>

    <div class="form-control">
      <% rows, cols = (0..6).to_a, t('date.abbr_day_names') %>
      <%= form.collection_check_boxes :recurrence, rows.zip(cols), :first, :last, checked: [] %>
      <%= form.error_for :recurrence %>
    </div>
  </div>

  <div class="form-actions form-group">
    <%= form.submit t(form.object.persisted? ? 'edit' : 'create',
      scope: 'coupons.coupon.buttons'), class: 'button rounded green' %>
  </div>

<% end %>
